@{
    ViewBag.Title = "About";
}
<br />
<h2>About Me:</h2>

<p style="color:gainsboro;">I am a recent graduate of the Cleveland, Ohio-based We Can {Code} IT Bootcamp, and--like many bootcampers--I'm not your "typical" programmer. 
    I graduated from John Carroll University with a Bachelor of Arts in Philosophy. I have

also studied visual art in a rigorous academic setting at the Cleveland Institute of Art, which I

attended for two and a half years before transferring to JCU. I am seeking full-time employment

in the field of Data Analytics. Although I did not pursue a degree in mathematics, I have

completed courses up to Honors Calculus II and Applied Mathematics. While my background in

philosophy and art may seem unusual for a person who plans to work in the field of computer

programming, I have always had widely varying interests, a quality that has led me to cultivate a

diverse collection of skills. What brought me to this field was a conversation with a computer

science professor whose course I took on a whim. The course, Database Systems was, to my

surprise, thoroughly enjoyable.

</p>
<p style="color:gainsboro;">In my last semester at JCU, I found myself two 3-credit courses short of the requirement for

graduation. Opting to complete the two courses during the summer, I was faced with limited

choices. I had had enough of writing papers so I chose what I thought would be the furthest things from my recent philosophy

courses: Applied Mathematics and Database Systems. I looked forward to returning to

studying mathematics, but I had no expectation that a course called “Database Systems”

would be one of my favorite courses at John Carroll. This computer science course, which

involved designing databases using Structured Query Language (SQL), proved to demand

many of the same skills that had brought me success in my studies of art and philosophy:

creativity, meticulous attention to detail, analytical thinking, problem solving, persistence and

patience.</p>

<p style="color:gainsboro;">
    Over the course of my instruction at JCU and We Can {Code} IT Bootcamp, I have gained proficiency in the following technologies:
</p>
<ul>
    <li>SQL</li>
    <li>Microsoft SQL Server</li>
    <li>
        Microsoft's .NET Framework
        <ul>
            <li>C#</li>
            <li>ASP.NET MVC</li>
            <li>Entity Framework</li>
        </ul>
    </li>
    <li>HTML/CSS</li>
    <li>Bootstrap</li>
    <li>JavaScript</li>
</ul>