@{
    ViewBag.Title = "Contact";
}
<br />

<body style="background: url('../../Images/HomeImages/IMG_5586 (1).jpg'); ">
    
    <div class="jumbotron col-md-5" style="background-color:aliceblue;">
        <br />
        <br />
        <br />
        <div>
            <a href="https://www.linkedin.com/in/marywinkelman">
                <img src="~/Images/LinkedIn_Logo.svg.png" style="max-width:300px;" />
            </a>
        </div>
        <div>
            <a href="https://github.com/mwinkelman">
                <img src="~/Images/githubImage.png" style="max-width:300px;" />
            </a>
        </div>
    </div> 
    <div class="col-md-6">
        <br />
    </div>
</body>